header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #024059;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 1000; /* Ensure the header is above other content */
}

.burger,
.search {
  display: flex;
  align-items: center;
  margin-left: 300px;
}

.search {
  margin-left: 15px;
}

.search img {
  width: 40px;
  height: auto;
  padding: 10px 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* General link styling */
nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: color 0.3s ease;
  position: relative;
  overflow: hidden;
  font-size: 20px;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f2c4da;
  transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  transform: scaleX(0);
}

nav a:hover {
  color: #98a360;
}

nav a:hover::after {
  transform: scaleX(1);
}

/* Menu list styling */
.menu {
  display: flex;
  list-style: none;
  margin-left: 900px;
  padding: 0;
}

/* Menu list item styling */
.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

/* Menu link styling */
.menu a {
  display: block;
  padding: 10px;
  color: #fff2f8;
  text-decoration: none;
  transition: color 0.3s;
  text-align: center; /* Center align text for better appearance */
  font-family: "Prosto One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

/* Menu link hover effect */
.menu a:hover {
  color: #f2c4da;
}

/* Burger menu icon styling */
.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #f9eeee;
  transition: 0.2s linear;
}

/* General styles for headings, images, etc. */
h3 {
  font-size: 2.2rem;
  color: #024059;
  word-wrap: break-word;
  max-width: 100%;
  padding-left: 16px;
  font-family: "Roboto", sans-serif;
}

img.img__container {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero__img {
  display: block;
  width: 100%;
  height: 200px;
  margin-top: 10%;
}

.text_overlay {
  line-height: 1.2rem;
  padding: 0.5rem;
  position: absolute;
  bottom: 475px;
  left: 0;
  background-color: #024059;
  font-family: "Roboto", sans-serif;
}

h5 {
  padding: 20px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.kea_logo a {
  text-decoration: none;
  border-bottom: none;
  color: white;
}

.kea_logo :hover {
  color: #f28dbc;
}

.cta_2 {
  width: auto;
  height: 40px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #024059;
  display: inline-block;
  padding: 0 10px;
  line-height: 40px;
  text-align: center;
  border-radius: 2px;
  text-decoration: none;
  margin-right: 150px;
}

.cta_2 a {
  text-decoration: none;
  color: inherit;
}

.cta_2:hover {
  background-color: #f28dbc;
  color: white;
}

.text_overlay h3 {
  color: #fff;
  font-size: 20px;
}

.opening_hours {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
}

.info_index {
  background-color: #f2c4da;
}

.info__headline h1 {
  background-color: #f2c4da;
  color: #024059;
}

.info_index p {
  margin-top: 0.5rem;
}

.info_index_navigation {
  padding-left: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.info_index_img img {
  width: 120px;
  height: 120px;
  margin-left: 2rem;
}

.btn__acces_lab {
  font-size: 1.25rem;
  width: min(183px, 275px);
  height: min(40px, 65px);
  background-color: #024059;
  border: none;
  color: #fff;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

.category__wrapper {
  display: flex;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4rem;
  margin-right: 1rem;
}

.item__headline {
  margin-left: 1rem;
  font-size: 1.5rem;
}

.category__image {
  display: flex;
  align-items: end;
}

.image_item {
  width: 100%;
}

.btn__category {
  margin-top: 2rem;
  margin-bottom: 0;
  justify-content: end;
}

.item__line {
  display: flex;
  width: 90%;
  height: 1px;
  border-bottom: 3px solid #f28dbc;
  margin: 2rem auto 2rem auto;
}

.contact__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 1rem 0 1rem 0;
  background-color: #024059;
}

.contact__images {
  display: flex;
  justify-content: center;
}

.contact__images img {
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 70%;
}

/* Contact images */
.contact__1 img {
  border-radius: 50%;
  width: 25%;
}

.contact__1 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1;
  grid-row: 2;
}

.contact__2 img {
  border-radius: 50%;
  grid-column: 2;
  grid-row: 2;
  width: 25%;
}

.contact__2 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2;
  grid-row: 2;
}

.contact__3 img {
  border-radius: 50%;
  grid-column: 1;
  grid-row: 2;
  width: 25%;
}

.contact__3 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 3;
  grid-row: 2;
}

.contact__1 {
  padding: 0 0.5rem 0 0.5rem;
  width: 100%;
}

/* Contact info */
.contact__info {
  margin-bottom: 3rem;
}

.contact__container ul {
  padding: 0 0.5rem 0 0.5rem;
  line-height: 1.2rem;
}

.contact__container li:first-child {
  font-weight: 700;
}

.contact__container li {
  color: #fff;
}

.contact__info {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1;
  grid-row: 3;
}

.contact__info_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2;
  grid-row: 3;
}

.contact__info_3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
  align-items: center;
  grid-column: 3;
  grid-row: 3;
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .burger {
    display: none; /* Hide burger menu on larger screens */
  }

  nav {
    display: flex; /* Show navigation menu on larger screens */
  }

  .menu {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    display: none; /* Hide navigation menu on smaller screens */
  }

  .burger {
    display: flex; /* Show burger menu on smaller screens */
  }
}

/* DESKTOP */
@media screen and (min-width: 750px) {
  .info__headline h1 {
    background-color: #f2c4da;
    color: #024059;
  }

  .info_index {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  h5 {
    padding: 20px;
    font-size: 67px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .info_forside_tekst {
    display: grid;
    grid-column: 1;
    grid-row: 2;
  }

  .info_index_img img {
    width: 250px;
    height: 250px;
    margin-left: 2rem;
  }

  .hero__img {
    display: block;
    width: 100%;
    height: 400px;
    margin-top: 70px;
  }

  .opening_hours_2 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
  }

  .opening_hours {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    list-style-type: none;
  }

  .text_overlay {
    line-height: 1.9rem;
    padding: 0.5rem;
    position: absolute;
    width: 400px;
    bottom: 300px;
    left: 20px;
    background-color: #024059;
    font-family: "Roboto", sans-serif;
  }

  .cta_2 {
    width: 250px;
    height: 56px;
    font-size: 30px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: #024059;
    display: inline-block;
    padding: 0 10px;
    line-height: 40px;
    text-align: center;
    border-radius: 2px;
    text-decoration: none;
    margin-right: 150px;
  }

  .info_index_navigation {
    margin: 1rem;
    padding-right: 2rem;
    grid-column: 1 / -1;
    justify-content: space-between;
  }

  .category__container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
  }

  .item_1,
  .item_2,
  .item_3,
  .item_4,
  .item_5,
  .item_6 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr 1fr;
  }

  .item_2 {
    grid-column: 2;
    grid-row: 1;
  }

  .item_3 {
    grid-column: 1;
    grid-row: 3;
  }

  .item_4 {
    grid-column: 3;
    grid-row: 1;
  }

  .item_5 {
    grid-column: 2;
    grid-row: 3;
  }

  .item_6 {
    grid-column: 3;
    grid-row: 3;
  }

  .image_item_1,
  .image_item_2,
  .image_item_3,
  .image_item_4,
  .image_item_5,
  .image_item_6 {
    align-self: center;
  }
}
