/******* HEROSECTION *******/
img {
    width: 100%;
}

.hero-container {
    position: relative;
    overflow: hidden;
}

.herosection_img {
    transform: scale(1.18);
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.logo {
    position: absolute;  
    top: 110px;
    left: 90%;
    transform: translateX(-50%);
    height: 100px;
    width: 100px;
}

.logo2 {
    display: none;
}

.info_tekst {
   padding: 10px 0 20px;
   padding-left: 16px;
   width: 90%;
   line-height: 30px;
}

/******* PRODUKTLISTE ********/
.produktliste_billede {
    transform: scale(0.8);
    display: grid;
    grid-column: 2;
}

.produkt_single_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-top: 20px;
}


.produkt-beskrivelse{
    display: grid;
    grid-column: 1;
}

.cta {
    grid-column: 2;
    width: 200px;
}

.custom-line {
    width: 90%; 
    margin: 20px auto; 
    border: none;
    border-top: 2px solid #F28DBC; 
}

/* MEDIA QUERIES */
@media (min-width: 750px) {
    .herosection_img {
        height: 450px;
        display: grid;
        grid-column: 2;
    }

    .logo {
        display: none;
    }

    .logo2 {
        display: block; /* Vis logoet på desktop */
        height: 300px;
        width: 300px;
        padding-right: 40px;
        padding-top: 100px;
      }

.info{
    display: grid;
    grid-template-columns: 1fr auto;
}

    .toppen {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

/******* PRODUKTLISTE ********/

    .produktliste_overskrift2 {
        background-color: white;
        color: #024059;
        display: grid;
        grid-column: 1;
        grid-row: 1;
        align-items: center;
    }

    .info_tekst {
        padding-bottom: 70px;
        width: 60%;
        line-height: 50px;
        padding-left: 26px;
    }

.produkt_single_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    padding-top: 20px;
}

.custom-line {
    display: none; 
}

}
