img {
  max-width: 100%;
  height: auto;
}

.blue_container {
  background-color: #024059;
  color: white;
  padding: 40px;
}

.info__produkt_side {
  background-color: #f2c4da;
  color: #024059;
  padding: 40px 0;
  line-height: 2;
}

.pink_container {
  background-color: #f2c4da;
  height: 70px;
}

ul {
  padding: 0;
  margin: 20px 0;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

ul li {
  margin-bottom: 10px;
  color: white;
}

/*********** General header & nav styling ***********/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #024059;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.logo img {
  width: 120px;
  height: auto;
  padding: 10px 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.burger,
.search {
  display: flex;
  align-items: center;
}

.search {
  margin-left: 15px;
}

.search img {
  width: 40px;
  height: auto;
  padding: 10px 0;
}

/* Navigation styling */
nav {
  display: flex;
  align-items: center;
  width: 100%; /* Ensure navigation spans the full width */
  justify-content: flex-end; /* Align menu to the right */
}

/* Menu list styling */
.menu {
  font-weight: bold;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Menu list item styling */
.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

/* Menu link styling */
.menu a {
  display: block;
  padding: 10px;
  color: #fff2f8;
  text-decoration: none;
  transition: color 0.3s;
  text-align: center; /* Center align text for better appearance */
  font-family: "Prosto One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

/* Menu link hover effect */
.menu a:hover {
  color: #f2c4da;
}

/* Burger menu icon styling */
.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #f9eeee;
  transition: 0.2s linear;
}

/* Responsive styling for burger menu and dropdown */
@media screen and (max-width: 800px) {
  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #f6f3f0;
    position: absolute;
    top: 60px;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }

  .burger {
    display: flex;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  nav.active .menu {
    display: flex;
  }

  nav.active .menu li {
    margin: 10px 0;
    text-align: center;
  }

  nav.active .menu a {
    font-size: 1.2rem;
  }
}

/* General link styling */
nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: color 0.3s ease;
  position: relative;
  overflow: hidden;
  font-size: 20px;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f2c4da;
  transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  transform: scaleX(0);
}

nav a:hover {
  color: #98a360;
}

nav a:hover::after {
  transform: scaleX(1);
}
