
/******* HEROSECTION *******/
img {
    width: 100%;
}

.herosection_img{
    height: 200px;
    width: 110%;
    object-fit: cover;
    overflow: hidden;
}

.logo {
    position: absolute;  
    top: 110px;
    left: 395px; 
    height: 100px;
    width: 100px;
}

.info_tekst{
   padding-top: 10px;
   
}


/******* PRODUKTLISTE ********/
.produktliste_billede{
    transform: scale(0.8);
}

.produktliste_produkt{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 30px;
}

h2 {
    padding-top: 20px;
}

.cta {
    grid-column: 2;
}

.custom-line {
    width: 90%; 
    margin: 20px auto; 
    border: none;
    border-top: 2px solid #F28DBC; 
}



@media (min-width: 750px) {
    .herosection_img{
        height: 450px;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
    }

    .logo {
        position: absolute;
        left: 1100px; 
        height: 363px;
        width: 363px;
    }


    .produktliste_kategorier{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .custom-line {
        width: 80%; 
        margin: 20px auto; 
        border: none;
        border-top: 2px solid #F28DBC; 
    }
    

}
